<button id="showAll">Show All SuperHeroes</button>

<p class="superhero">I am super</p>


<ul class="tab-headers">
  <li id="1" class="superhero " data-tab="superman">Superman</li>
  <li id="2" class="superhero active" data-tab="batman">Batman</li>
</ul>
<br clear="all"/>


<div class="tab-content">
  <div id="superman">Superman rules</div>
  <div id="batman">Batman rules. Superman does not. he is a mutant. Batman does actual good.<div>
</div>
